
/* begin Menu */

.artmenu ul
{
	height: 1%;
	width:1px;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 5px;
	left: 100%;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.nav
{
	zoom: 1;
}

.nav .l, .nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
	height: 36px;
	background-image: url('images/nav.png');
}

.nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');;
}

.nav .r
{
	left: expression(this.parentNode.offsetWidth-874+'px');
	clip: rect(auto auto auto 874px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a
{
	float:left;
}

.artmenu a:hover
{
	visibility:visible;
}

.artmenu a .r, .artmenu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.artmenu a .r
{
	left: expression(this.parentNode.offsetWidth-406+'px');
	clip: rect(auto auto auto 403px);
}

.artmenu a .l
{
	width: expression(this.parentNode.offsetWidth-3+'px');
}

.artmenuhover .artmenuhoverA .t
{
	color: #080906;
}

.artmenuhover .artmenuhoverA .l, .artmenuhover .artmenuhoverA .r
{
	top: -24px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin MenuSubItem */

.artmenu ul a
{
	color: #4C671D !important;
}

.artmenu ul a:hover {
	color: #000000 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
	color: #000000 !important;
	background-position: 0 -20px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
	color: #000000 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
	color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.Block, .Block-body
{
	zoom:1;
}

.Block-body
{
	position:static;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	font-size: 1px;
	background: none;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='scale')");
}

.Block-tl
{
	clip: rect(auto 1px 1px auto);
}

.Block-tr
{
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(auto auto 1px 1px);
}

.Block-bl
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	clip: rect(1px 1px auto auto);
}

.Block-br
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(1px auto auto 1px);
}

.Block-tc, .Block-bc
{
	width: expression(this.parentNode.offsetWidth-2+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='scale')");
}

.Block-tc
{
	clip: rect(auto auto 1px auto);
}

.Block-bc
{
	top: expression(this.parentNode.offsetHeight-2+'px');
	clip: rect(1px auto auto auto);
}

.Block-cr, .Block-cl
{
	height: expression(this.parentNode.offsetHeight-2+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='scale')");
}

.Block-cr
{
	left: expression(this.parentNode.offsetWidth-2+'px');
	clip: rect(auto auto auto 1px);
}

.Block-cl
{
	clip: rect(auto 1px auto auto);
}

.Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-2+'px');
	height: expression(this.parentNode.offsetHeight-2+'px');
	background-color: #E2E6DB;
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader, .BlockHeader
{
	font-size: 1px;
}
.BlockHeader .l, .BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeader.png',sizingMethod='crop')");
}

.BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-894+'px');
	clip: rect(auto auto auto 894px);
}

.BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent, .BlockContent-body
{
	zoom:1;
}

.BlockContent-body
{
	position:static;
}

.BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */