
body {
	color: #262A1D;
	font: 0.75em/170% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}

a {
	color: #5B7B23;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4 {
	letter-spacing: -1px;
	line-height: 140%;
	margin-bottom: 10px;
	margin-top: 5px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
}

div.Header {
	margin: 0 auto;
	position: relative;
	height: 55px;
	top: 0;
	left: 0;
	background-image: url('images/Header.png');
}

.right_bg {
	position: absolute;
	width: 874px;
	height: 50px;
	top: 0;
	left: 0;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
}

/* begin Logo */
.logo
{
	display: block;
	position: absolute;
	top: 0;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #080906;
}

.logo-text
{
	display: block;
	text-align: left;
}

.logo-text, .logo-text a
{
	font-size: 13px;
	padding:0;
	margin:0;
	color: #080906;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}

/* menu structure */

.artmenu
{
	padding: 6px 6px 6px 6px;
}

.nav
{
	position: relative;
	height: 36px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 36px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 874px;
	clip: rect(auto, auto, auto, 874px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 24px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;
	margin-left: 2px;
}

.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 72px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:3px;
}

.artmenu a .r
{
	width:406px;
	right:0;
	clip: rect(auto, auto, auto, 403px);
}

.artmenu a .t 
{
	font-size: 13px;
	color: #000000;
	padding: 0 6px;
	margin: 0 3px;
	line-height: 24px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-24px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-24px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-24px;
}
.artmenu a:hover .t
{
	color: #080906;
}

.artmenu li:hover a .t
{
	color: #080906;
}

.artmenu li:hover>a .t
{
	color: #080906;
}

.artmenu a.active .l, .artmenu a.active .r
{
	top: -48px;
}

.artmenu a.active .t
{
	color: #1E2117;
}

/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 1px;
	height: 24px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;
	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #4C671D;
	font-size: 13px;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #000000;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #000000;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #000000;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #000000;
}

/* end MenuSubItem */

.column {
  width: 90%;
  margin: 0 auto;
}

#main {
  width: 99%;
  float: left;
}

.sidebars-1 #main {
	width: 77%;
	float: left;
}

#sidebar-right {
  width: 21%;
  float: right;
}

.node {
	margin: 0 0 30px;
	padding: 0 10px;
}

/* begin Box, Block */
.block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:3px;
	min-height:3px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 7px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 2px;
	height: 2px;
	background-image: url('images/Block-s.png');
}

.Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 1px, 1px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 1px, 1px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(1px, 1px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(1px, auto, auto, 1px);
}

.Block-tc, .Block-bc
{
	left: 1px;
	right: 1px;
	height: 2px;
	background-image: url('images/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 1px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(1px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 1px;
	bottom: 1px;
	width: 2px;
	background-image: url('images/Block-v.png');
}

.Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 1px);
}

.Block-cl
{
	left:0;
	clip: rect(auto, 1px, auto, auto);
}

.Block-cc
{
	position:absolute;
	z-index:-1;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background-color: #E2E6DB;
}


.block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

.BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-size: 13px;
	white-space : nowrap;
	padding: 0 7px;
	line-height: 30px;
}

.BlockHeader .t a {
	color: #000000;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('images/BlockHeader.png');
}

.BlockHeader .l
{
	left:0;
	right:0px;
}

.BlockHeader .r
{ 
	width:894px;
	right:0;
	clip: rect(auto, auto, auto, 894px);
}

.header-tag-icon
{
	display:inline-block;
	min-height: 14px;
	margin: 0 0 0 5px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

/* end Box, BlockContent */

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#8E9D72;
}

#user-login-form {
	text-align: left;
}

#user-login-form .form-item input {
	width: 95%
}

#user-login-form input.form-submit {
	margin-bottom: 10px;
}

h3.commentTitle {
	font-size: 1.35em;
	margin: 0;
	padding: 0;
}

.commentTitle a {
	margin: 0;
	padding: 0;
}

div.comment {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 8px;
}

.metadata {
	font-size: smaller;
	clear: both;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	color: #AAAAAA;
	line-height: 16px;
}

.chronodata {
	padding: 2px 0 2px 20px;
	background: url(images/PostDateIcon.png) left center no-repeat;
}

.new {
	color: #ff0;
	float: right;
}

div.links ul.links a {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: left center;
}

div.links ul.links li.comment_add a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_comments a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.comment_edit a {
	background-image: url(images/mini-edit.png);
}

div.links ul.links li.comment_delete a {
	background-image: url(images/mini-trash.png);
}

div.links ul.links li.comment_reply a {
	background-image: url(images/mini-comment.png);
}

div.links ul.links li.node_read_more a {
	background-image: url(images/arrow-single-right-green.png);
}

div.links ul.links li.blog_usernames_blog a {
	background-image: url(images/user-plain-red.png);
	padding-bottom: 5px;
}

div.links ul.links li.upload_attachments a {
	background-image: url(images/picture.png);
}

div.links ul.links li.comment_forbidden a {
	padding-left: 0px;
}

.terms {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-image: url(images/folder-open-red.png);
	padding-bottom: 5px;
}

.item-list ul.pager {
	margin: 0px;
	padding-top: 10px;
}

.item-list .pager li {
	margin: 0px;
	padding: 3px;
}

.item-list .pager li.pager-current {
	padding: 4px;
}

div.messages {
	background-color: #fff;
	border: 2px solid #b8d3e5;
	padding: .75em 1.25em;
	margin: 1em 0;
}

.preview {
	background-color: #fcfce8;
	border: 1px solid #e5e58f;
	padding: .25em 1.25em;
	margin: 1em 0;
}

div.status {
	color: #65743d;
	border-color: #d6dfb9;
	background-color: #edf5d7;
}

div.error {
	color: #ba1212;
	border-color: #edc8c8;
	background-color: #f8e7e7;
}

#page, #footer, #footer-message {
  clear: both;
}
 
#content-padding, #content-top, #content-bottom {
  padding: 10px;
}

.tips {
	font-size: 1em;
}

td, th {
	padding: 0.3em 0.5em 0.3em;
}

table tr.odd {
	background-color: #f3f3f3;
}

table tr.even {
	background-color: #ffffff;
}

dl dd {
	margin: 0 0 .5em 1.5em;
}