
/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 874px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 403px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 1px 1px auto);
}

.Block-tr
{
	clip: rect(auto auto 1px 1px);
}

.Block-bl
{
	clip: rect(1px 1px auto auto);
}

.Block-br
{
	clip: rect(1px auto auto 1px);
}

.Block-tc
{
	clip: rect(auto auto 1px auto);
}

.Block-bc
{
	clip: rect(1px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 1px);
}

.Block-cl
{
	clip: rect(auto 1px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 894px);
}
/* end BlockHeader */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

.artmenu ul li
{
	list-style-type: none;
	list-style-image: none;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	padding: 0;
}